<!--<button class="btn btn-primary my-3 mx-3" (click)="crearTerreno()">Crear Terreno</button>-->

<input type="text" class="form-control mb-3 mx-3 my-3 w-25"
       placeholder="Buscar por cultivo o superficie"
       [(ngModel)]="searchTerm"
       (ngModelChange)="onSearchChange()" />

@if (terrenos.length == 0) {
  <div class="alert alert-warning">No hay terrenos registrados para este usuario</div>
} @else {
  <table class="table table-hover table-striped my-4">
    <thead>
      <tr>
        <th>id</th>
        <th>superficie</th>
        <th>cultivo</th>
      </tr>
    </thead>
    <tbody>
      @for (terreno of terrenos; track $index) {
        <tr>
          <td>{{terreno.id}}</td>
          <td>{{terreno.superficie}}</td>
          <td>{{terreno.cultivo}}</td>
        </tr>
      }
    </tbody>
  </table>
}
<button class="btn btn-info btn-sm my-3 mx-3" [routerLink]="['/admin']">
    Volver
</button>

<paginator [paginator]="paginator" [url]="pageUrl" />
